html{
    height:100%;
    overflow: hidden;
}
body{
    height: 100%;
    margin:0px 0px 0px 0px;
}

#container{
    height: 100%;
}

#map-container{
    height: 100%;
    cursor: pointer;
}

.leaflet-top {
    top: 50px;
}

#toolbar {
    position: absolute;
    width: 100%;
    height: 49px;
    background-color: #000000;
    top: 0;
    opacity: 0.8;
    z-index: 999;
    line-height: 49px;
    text-indent: 40px;
    box-shadow: 0 1px 1px #000000;
    background-color: #0d5ab1;
    /* top: 0; */
    opacity: 0.8;
}

#toolbar a {
    margin-right: 16px;
    color: #fff;
    font-size: 16px;
}



.alarm{
    position: fixed;
    left:0px;
    bottom:0px;
    width:40%;
    height:80%;
    z-index:100;
    background:white;
    overflow:auto;
}

.sliderbar-container{
    background:white;
}

.leftAlarm{
    width:100%;

}

.rightClue{
    /*
      height:400px;
      overflow:auto;*/
    padding-top:0px;
}

.selectProbes{
    width:90%;
    text-align:left;
    border:solid 1px black;
    margin:auto;
}
.leftSlidePanel{
    -webkit-box-sizing: border-box
}


div.sample_info_here {
    position: relative;
    width: auto;
    margin: 20px;
    font-family: Roboto, Arial, Helvetica;
    font-size: 14px;
    color: #404040;
}
div.sample_info_here div.sample_info_title {
    line-height: 18px;
    font-size: 15px;
    color: #3b5e7c;
}
div#tree_here ,div#gridbox{
    /*width: 350px;*/
    height:300px;
    /*margin-left: 20px;*/
    margin-bottom: 20px;
    border: 1px solid #dfdfdf;
    box-shadow: 0 1px 3px rgba(0,0,0,0.05), 0 1px 3px rgba(0,0,0,0.09);
}

/*div#gridbox{*/
    /*height: 45%;*/
/*}*/

/*
滚动条美化
*/
::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
    border-radius: 999px;
    border: 5px solid transparent;
}

::-webkit-scrollbar-track {
    box-shadow: 1px 1px 5px rgba(0,0,0,.2) inset;
}

::-webkit-scrollbar-thumb {
    min-height: 20px;
    background-clip: content-box;
    box-shadow: 0 0 0 5px rgba(0,0,0,.2) inset;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

.bodyPanel{
    width:100%;
    height:100%;
    display: none;
    text-align: center;
}
.IconList>a>img,.IconList>div>a>img{
    width:30px;
    height:30px;
    margin:0px 10px 0px 10px;
}
hr {
    border: dotted #ccc;
    border-width: 1px 0 0;
    clear: both;
    margin: 10px 0px;
    height: 0;
}
.spaceQueryResultDiv{
    min-height: 500px;
    height: auto;
    margin:10px 0px 0px 0px;
    /*border:1px solid grey;*/
}
.query-select{
    width: 90%;
    height: 20px;
    margin:2px 5px 2px 5px;
    border: 1px solid #dfdfdf;
    box-shadow: 0 1px 3px rgba(0,0,0,0.05), 0 1px 3px rgba(0,0,0,0.09);
    border-radius: 5px;
}
.IconList>a ,.IconList>div>a{
    line-height: 30px;
    padding:15px 0px 15px 0px;
}
#loadingdiv{
    position: fixed;
    width:100%;
    height: 100%;
    background:transparent;
    opacity: 0.9;
    z-index:3000;
}
.loading{
    width:200px;
    height:200px;
    position: fixed;
 
     opacity: 1;
     left:50%;
     top:50%; 
    margin-left:-100px;
    margin-top:-100px; 
}


.custom-cluster {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: -25px;
    margin-top: -25px;
    text-align: center;
    font-weight: bold;
    font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
    background-color: rgba(241,211,87,.6);
}

.custom-cluster div {
    width: 40px;
    height: 40px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
    border-radius: 50%;
    font: 12px Helvetica Neue,Arial,Helvetica,sans-serif;
    /*background-color: red;*/
    line-height: 40px;
    font-size: 13px;

    /*background: url('./yhdw.svg') no-repeat center top transparent;*/
}

/*.custom-cluster>div>span {*/
    /*!*line-height: 30px;*!*/
    /*!*width: 30px;*!*/
    /*!*height: 30px;*!*/
    /*!*margin-left: 10px;*!*/
    /*margin-top: 30px;*/
    /*text-align: center;*/
    /*border-radius: 15px;*/
    /*font: 12px Helvetica Neue,Arial,Helvetica,sans-serif;*/
    /*font-size: 12px;*/
    /*!*width:50px;*!*/
    /*!*height: 50px;*!*/
    /*!*background: green;*!*/
/*}*/

.custom-cluster-red {
    background-color: rgba(207, 70, 70, 0.9);
    /*box-shadow: 0 0 8px 6px rgb(244, 105, 105);*/
}

.custom-cluster-orange {
    background-color: rgba(241, 128, 23, 0.9);
    /*box-shadow: 0 0 8px 6px rgb(253, 156, 115);*/
}

.custom-cluster-green {
    background-color: rgba(110, 204, 57, 0.9);
    /*box-shadow: 0 0 8px 6px rgb(181, 226, 140);*/
}

.gaea-popup-content-wrapper {
    padding: 1px;
    text-align: left;
    border-radius: 5px;
}

.gaea-popup-content {
    margin: 13px 19px;
    line-height: 1.4;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
     font-size: 12px;
    font-family: "Microsoft YaHei", serif;
}